[Desktop Entry]
Exec=firefox -P prism -new-tab http://mattsurabian.com/duckhunt
Icon=/usr/share/icons/Netrunner/scalable/apps/Icon-duckhunt.png
Name=Duck Hunt
Name[fr]=duckhunt.desktop
NoDisplay=false
StartupNotify=true
Type=Application
Hidden=false
