[Desktop Entry]
Exec=firefox -P prism -new-tab  http://www.facebook.com
Icon=/usr/share/icons/Netrunner/scalable/apps/facebook_icon.png
Name=Facebook
NoDisplay=false
StartupNotify=true
Type=Application
Hidden=false
