[Desktop Entry]
Exec=firefox -P prism -new-tab http://jacknjoe.com
Generic Name=Software Store
Icon=/usr/share/icons/Netrunner/scalable/apps/Icon-jacknjoe.png
Name=JacknJoe
StartupNotify=true
Type=Application
Hidden=false
NoDisplay=false
