[Desktop Entry]
Exec=firefox -P prism -new-tab  http://www.twitter.com
Icon=/usr/share/icons/Netrunner/scalable/apps/twitter.png
Name=Twitter
NoDisplay=false
StartupNotify=true
Type=Application
Hidden=false
