[Desktop Entry]
Exec=firefox -P prism -new-tab s  http://www.netrunner-os.com/readme/
Icon=/usr/share/icons/Netrunner/scalable/apps/Icon-welcome.png
Name=Welcome Introduction
NoDisplay=true
StartupNotify=true
Type=Application
